{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
    <title>Home</title>
  </head>
  <body>
    <div class="container-fluid mx-0">
        <h2 class="text-center alert alert-danger">Django Ajax Crud </h2>
      <div id="msg">
        <div class="toast text-white bg-info " id="EpicToast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 20px; right: 600px;">
          <div class="d-flex  w-auto">
            <div class="toast-body">
                <strong class="mr-auto" id="notify"></strong>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" style="position: absolute; right: 20px;" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        </div>
      </div>
    

        <form action="" method="post">
            <div class="row">
                <div class="col-md-5">
                    <div class="mb-5">
                        <h3 class="form-label text-center alert alert-info">Add Data</h3>
                        {% csrf_token %}
                        <input type="hidden" id="stuid" name="stuid"/>
                        {{form.as_p}}
                        <input type="button" value="Save"class="btn btn-primary" name="submit" id="btnsave" aria-describedby="helpId" placeholder="">
                    
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="mb-5">
                        <h3 class="form-label text-center alert alert-info">View Data</h3>
                        <table class="table table-hover ">
                            <thead class="table-dark">
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Password</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody id="tbody">
                                {% for st in  stud%}
                              <tr>
                                <th>{{st.id}}</th>
                                <td>{{st.name}}</td>
                                <td>{{st.email}}</td>
                                <td>{{st.password}}</td>
                                <td>
                                    <input type="button" class="btn btn-sm btn-warning btn-edit" data-sid="{{st.id}}" value="Edit">
                                    <input type="button" class="btn btn-sm btn-danger btn-del" data-sid="{{st.id}}" value="Delete">
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                    
                    </div>
                </div>
            </div>
        </form>    
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% include 'studentinfo/ajax.html' %}
    </div>
  </body>
</html>